bootrom/*
docs/warnings.txt
/Makefrag.pkgs
target
*.jar
*.stamp
*.vcd
*.swp
*.swo
*.log
*#
*~
.idea
.DS_Store
env.sh
tags
*~
.bsp/
.bloop/
.metals/
.vscode/
metals.sbt
.conda-env/
.#*
CMakeFiles
.cmake
*.cmake
build/Makefile
CMakeCache.txt
compile_commands.json
first-clone-setup-fast-log
.bloop/
.metals/
project/.bloop/
project/metals.sbt
project/project/
.ivy2
.sbt
